commands:
  01_download_libreoffice_headless:
    command: |
      curl -L -o /tmp/libreoffice-headless.rpm https://download.opensuse.org/repositories/LibreOffice:/7.1/CentOS_7/x86_64/libreoffice-headless-7.1.6.2-1.1.x86_64.rpm
  02_install_libreoffice_headless:
    command: |
      sudo yum localinstall -y /tmp/libreoffice-headless.rpm
