commands:
  01_add_custom_repo:
    command: |
      sudo yum-config-manager --add-repo https://download.opensuse.org/repositories/LibreOffice:/Hotfix:/Latest/CentOS_7/LibreOffice:Hotfix:Latest.repo
      sudo yum update

packages:
  yum:
    libreoffice-headless: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    SOFFICE_PATH: "/usr/bin/libreoffice"
